.render {
    margin: 0 440px 0 440px;
    
    @media (max-width: 1510px) {
        margin: 0 395px 0 395px;
    }
    @media (max-width: 1350px) {
        margin: 0 355px 0 355px;
    }

    @media (max-width: 1250px) {
        margin: 0 310px 0 310px;
    }

    @media (max-width: 1100px) {
        margin: 0 275px 0 275px;
    }

    @media (max-width: 1000px) {
        margin: 0 245px 0 245px;
    }

    @media (max-width: 910px) {
        margin: 0 200px 0 200px;
    }

    @media (max-width: 850px) {
        margin: 0 160px 0 160px;
    }

    @media (max-width: 800px) {
        margin: 0 125px 0 125px;
    }

    @media (max-width: 600px) {
        margin: 0 100px 0 100px;
    }
}

.add {
    @media (max-width: 600px) {
        min-width: 400px;
        margin: 0 70px;

    }
}




