.render {
    margin: 0 300px 0 300px;

    @media (max-width: 1110px) {
        margin: 0 250px 0 250px;
    }
    @media (max-width: 1000px) {
        margin: 0 220px 0 220px;
    }

    @media (max-width: 800px) {
        margin: 0 150px 0 150px;
    }

    @media (max-width: 600px) {
        margin: 0 100px 0 100px;
    }
}

.add {
    @media (max-width: 600px) {
        min-width: 400px;
        margin: 0 70px;
    }
}




